body {
  margin: 0;
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  padding: 16px;
}
input {
  display: block;
  width: 100%;
}

.inputs label {
  font-size: 0.8rem;
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
}
.inputs input {
  font-size: 2.5rem;
  padding-left: 0;
  border-bottom: 1px solid #CCC;
  margin-bottom: 16px;
}



