body {
  margin: 0;
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  padding: 16px;
}
input {
  display: block;
  width: 100%;
}

.inputs {
  background-color: #f1f1f1;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #f2f2f2;
  margin: 16px 0;
}
.inputs label {
  font-size: 0.8rem;
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
}
.inputs input {
  font-size: 2.5rem;
  padding-left: 0;
  border-bottom: 1px solid #CCC;
  margin-bottom: 16px;
  background: transparent;
}

.results {
  max-width: 100%;
}
.results .card:nth-child(even) {
  background: #f1f1f1;
}
.results .card {
  width: 100%;
  padding: 8px;
}
.results .card div {
  display: inline-block;
  vertical-align: baseline;
  width: 38%;
  margin-right: 1%;
}
.results .card div.year {
  width: 19%;
}


