@font-face {
  font-family: 'VarelaRoundRegular';
  src: url('font/VarelaRound-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  padding: 16px;
}
input {
  display: block;
  width: 100%;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #FFF;
  padding: 8px 0;
}
h2 {
  font-size: 1.25rem;
}

.inputs {
  background-color: hsl(0 0% 97% / 1);
  padding: 24px;
  border-radius: 8px;
  border: 1px solid hsl(0 0% 93% / 1);
  margin: 16px 0;
  box-shadow: 0 0.125rem 0.25rem 0 #353a3e14;
}
.inputs label {
  font-size: 0.8rem;
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
}
.inputs input {
  font-size: 2.5rem;
  padding-left: 0;
  border-bottom: 1px solid #CCC;
  margin-bottom: 16px;
  background: transparent;
  font-family: 'VarelaRoundRegular', sans-serif;
}

.results-heading {
  margin-bottom: 16px;
  margin-top: 8px;
}

.results-header {
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: bold;
  color: #555;
  position: sticky;
  top: 43px;
  z-index: 1;
  background-color: #FFF;
  padding: 8px 0;
}
.results-header div {
  display: flex;
  text-align: right;
}
.results-header div.year {
  text-align: left;
}

.results {
  max-width: 100%;
}
.results .card:nth-child(even) {
  background: #f1f1f1;
}
.results .card {
  width: 100%;
  padding: 8px;
  font-family: 'VarelaRoundRegular', sans-serif;
}
.results .card div {
  display: flex;
  text-align: right;
}
.results .card div.year {
  text-align: left;
}
.results .dollar-sign {
  font-size: 1rem;
  color: #555;
}


